@import url('https://fonts.googleapis.com/css?family=BioRhyme:700|Raleway:400,700');

body{
  /*Background image obtained from https://www.toptal.com/designers/subtlepatterns/wheat-pattern/*/
  font-family: Raleway, sans-serif;
  background-color: #cccccc;
  background-image: url("../images/wheat.png");
  background-attachment: fixed;
  height: 100%
}

.header{
  height:80px;
}

.navbar{
  background-color: #22555E;
}

.navbar-brand{
  font-family: BioRhyme, serif;
  font-size: 25px;
  color: brown;
}

.navbar-nav{
  font-family: Raleway, sans-serif;
  font-size: 16px;
  color: yellow;
}

p{
  font-family: Raleway, sans-serif;
  color: lightgrey;
}

.standardimage{
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

.footext{
  font-family: Raleway, sans-serif;
  font-size: 10pt;
  color: lightgrey;
  padding: auto;
}

.introtitle{
  font-family: BioRhyme, serif;
  font-size: 36pt;
}
